body {
    background: black;
}

/*STYLE*/
span {
    color: ghostwhite;
    font-size: 200px;
}

div {
    transform-style: preserve-3d;
}

div.parent {
    margin: 5% 20% 5% 20%;
    height: 1000px;
    width: 1000px;
    position: relative;
    padding: 220px;
    color: transparent;
    /*transform-style: preserve-3d;*/
}

div.child.red {
    position: absolute;
    height: 40%;
    width: 40%;
    top: 450px;
    left: 650px;
    background: red;
    transform: translateZ(-150px);
    /*transform-style: preserve-3d;*/
}

div.child.blue {
    position: absolute;
    height: 40%;
    width: 40%;
    top: 500px;
    left: 500px;
    background: blue;
    transform: translateZ(150px);

}

/*BEFORE*/
div.child.red::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: red;
    transform: translateZ(-1px);
}

div.child.blue::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: blue;
    transform: translateZ(-1px)
}

/*ANIMATION*/

.anim {
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

div.parent {
    animation-name: parent;

}


div.child.red {
    /*content: '';*/
    animation-name: red;
    /*animation-duration: 10s;*/
    /*animation-timing-function: linear;*/
    /*animation-iteration-count: infinite;*/
}


div.child.blue {
    /*content: '';*/
    animation-name: blue;
    /*animation-duration: 20s;*/
    /*animation-timing-function: linear;*/
    /*animation-iteration-count: infinite;*/
}

@keyframes red {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes blue {
    from {
        transform: translateZ(150px) rotateZ(0deg);
    }
    to {
        transform: translateZ(150px) rotateZ(-360deg);
    }
}

@keyframes parent {
    from {
        transform: translateZ(-150px) rotateY(0deg);
    }
    to {
        transform: translateZ(-150px) rotateY(360deg);
    }
}

